<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="manipal testng suite" verbose="1" parallel="classes">
    <parameter name = "browser" value="firefox"/>

    <test name="Functional  testing" >
        <classes>

            <class name="org.example.Parameters" />

        </classes>
    </test>
</suite>
